body{
	transform: scale(1.25);
    transform-origin: 25% 25%;
    background-color:#effefef;
    font-family: Palatino, Garamond, Arial, Helvetica, Verdana;
    width:800px;
    margin-left:auto;
    margin-right:auto;
}

hr {
    margin:0px;
    border:0px;
    height:5px;
    background-color:maroon;
}



div#header{
    margin:0px;
    padding:0px;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    margin-bottom:auto;
    width:800px;
    height:70px;
}


div#header div#headername{
    margin:0px;
    padding:0px;
    font-weight:light;
    font-size:2em;
    color:grey;
    width:400px;
    height:70px;
    float:left;
}

div#header div#headername a{
    color:black;
    text-decoration:none;
}


div#header div#position{
    margin:0px;
    padding:0px;
    width:400px;
    height:70px;
    font-size:0.8em;
    font-style:italic;
    color:black;
    text-align:right;
    float:right;
}

div#header div#position a{
    color:inherit;
    text-decoration:none;
}

div#blurb{
    margin:0px;
    padding:0px;
    margin-top:20px;
    margin-bottom:auto;
    width:575px;
    height:150px;
    font-family: Palatino, Garamond, Arial, Helvetica, Verdana;
    font-weight:lighter;
    float:left;
}

div#blurb1{
    margin:0px;
    padding:0px;
    margin-top:20px;
    margin-bottom:auto;
    width:800px;
    height:300px;
    font-family: Palatino, Garamond, Arial, Helvetica, Verdana;
    font-weight:lighter;
    float:left;
}

div#blurb p{
    text-indent:0px;
    font-size:0.95em;
    line-height:130%;
}

div#blurb a{
    color:inherit;
    text-decoration:none;
}

div#blurb1 a{
    color:inherit;
    text-decoration:none;
}

div#image{
    margin:0px;
    padding:0px;
    border:0px;
    width:225px;
    height:170px;
    margin-top:30px;
    float:right;
}

div#image img{
    margin:0px;
    padding-left:70px;
	height:10em;
	}

div#footer{
    margin-top:10px;
    width:800px;
    float:left;
}

div#publist{
    padding:2px;
    width:800px;
    height:800px; 
   }

div#publist h2{
    color:black;
     margin-bottom:0em;
    margin-top:0.7em;
    font-family:inherit;
}

div#publist h3{
    color:navy;
    margin-bottom:0;
    margin-top:0;
    padding-bottom:0px;
    padding-top:0px;
}

div#publist hr{
    margin:0px;
    border:0px;
    height:1px;
    background-color:black;
    
    
}

div#publist .name{
    font-style:normal;
    font-size:1em;
    font-weight:500;
    font-family:inherit;
    color:black;
}

div#publist .auth{
    font-style:normal;
    font-size:0.8em;
    color:black
    link-color:black
}

div#publist .venue{
    font-style:normal;
    font-size:0.8em;
    font-weight:400;
}

div#publist .abs{
    width:inherit;
    margin-left:inherit;
    border:inherit;
    outline:none;
    outline-width:thin;
    font-style:normal;
    font-family:inherit;
    font-size:0.9em;
    text-indent:10px;
    background-color:rgb(255,255,253);
}

div#publist ul{
    color:black;
    margin-top:0px;
    margin-bottom:0px;
}


Div#publist ul li{
    color:black;
    margin-top:0.2em;
}

div#publist ul li a{
    color:teal;
    text-decoration:none;
}


div#publist ol{
    color:black;
    margin-top:0px;
    margin-bottom:0px;
}


Div#publist ol li{
    color:black;
    margin-top:0.2em;
}

div#publist ol li a{
    color:teal;
    text-decoration:none;
}
